* {
    background-color: darkgray;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    background-color: gray;
}

p {
    font-size: large;
}

#index {
    text-align: center;
}

#home {
    width: 100px;
    margin: auto;
    text-align: center;
    display: block;
    background-color: lightgray;
    color: black;
    text-decoration: none;
    font-size: 32px;
    padding: 5px 15px;
    border: 3px solid black;
}
.links {
    list-style: none;
    background-color: gray;
    margin: auto;
    padding: 10px;
    font-size: 32px;
    display: inline;
    border: solid 3px;
}
.link-container {
    margin: 30px;
}